
# Python
__pycache__/
*.pyc
venv/
.env

*.pyc
backend/uploads/
backend/services/ML/resume_job_model/
backend/services/ML/data/
# Large files
data/training_pairs.csv
resume_job_model/
backend/services.zip
backend/services/ML/resume_job_model.zip
backend/services/ML/fine_tuned_sbert/model.safetensors
backend/services/ML/old_data/training_pairs.csv
